@charset "UTF-8";

/* Reset */

* {
    color: #333;   /* 기본텍스트색 */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;  /* 배경색 */
}
a          { text-decoration: none; }
a:link        { color: #222; }
a:visited     { color: #222; }
a:hover       { color: #333; }
a:active      { color: #333; }
img           { vertical-align: middle; }
ul            { list-style: none; }
/* Reset */


/* 가이드 라인 */
div#wrap             { border: 1px solid #000; }
/*#wrap>*              { border: 1px solid #000; margin: 1px; }*/
/*#header>div#headerLogo { border: 1px solid #000; }*/
/*#header>nav#gnb        { border: 1px solid #000; }*/
/*#contents>div { border: 1px solid #000; }*/
/*#wrap>footer#footer { border: 1px solid #00f; }*/
/* 가이드 라인 */



/* div#wrap */
div#wrap {
    width: 1200px;
    margin: 0 auto;
}
/* div#wrap */

/* header#header */
header#header {
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#header>div#headerLogo {
    width: 220px;
    left: 100px;
    line-height: 100px;
/*    border: 1px solid #f00;*/
}
/*
#header>div#headerLogo>img {
    border: 1px solid #0f0;
}
*/

    /* nav#gnb */
#header>nav#gnb {
    width: 620px;
    /*border: 4px solid #f00;*/
}

#header ul#mainMenu {
    /*메뉴를 밑으로 내리는 첫번째 방법padding-top: 40px;*/
    /*두번째 방법margin-top: 40px;*/
    /*세번째 방법position: relative;
                    top: 40px;*/
    margin-top: 54px;
    /*border: 4px solid #0f0;*/
    display: inline-block;
    /* 고정 크기( width: 600px 을 설정하지 않음 */
}
#header #mainMenu::after {
    content: "";
    height: 40px;
    display: inline-block;
}
#header>#gnb li.mainLi {
    float: left;
}
#header>#gnb a {
    width: 150px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(67, 155, 18, 0.6);
    display: inline-block;
}
#header>#gnb li.mainLi:not(:first-child)>a {
    border-left: none;
}
#header>#gnb li.mainLi>a:hover {
    /*글씨색 주조색*/
    color: #0066ad;
    /*배경색 보조색+투명도적용*/
    background-color: rgba(67, 155, 18, 0.6);
}
#header>#gnb ul.subMenu {
    /*border: 1px solid #00f;*/
    display: none;
    position: absolute;
    z-index: 2;
}
#header>#gnb ul.subMenu a {
    border: 1px solid rgba(67, 155, 18, 0.0);
}
#header>#gnb ul.subMenu a:hover {
    color: #0066ad;
    border: 1px solid #fff;
    background-color: #fff;
}
    /* nav#gnb */

/* header#header */


/*div#subMenuBG*/
div#subMenuBG {
    position: relative;
    top: -4px;
    display: none;
    z-index: 1;
}
div#subMenuBGLayout {
    width: 100%;
    height: 140px;
    background-color: rgba(67, 155, 18, 0.6);
    position: absolute;
}
/*div#subMenuBG*/


/*div#slide*/
div#slide {
    height: 300px;
    /*border: 4px solid #0f0;*/
    overflow: hidden; /*자식 요소들이 이차원이 아니라 적용안됨. 슬라이드도 포지션 적용해야*/
    position: relative; /*부모인 슬라이드가 3차원에 있어서 자식인 a도 오버플로우 히든 적용됨*/
}
/*#slide>div#shuttleFrame {
    border: 4px solid #f00;
}*/
#slide a {
    position: absolute; /*이렇게 하면 세 장의 이미지가 겹침*/
}
#slide a:not(:first-child) {
    display: none; /*첫 번째 이미지 제외 사라져서 보이지 않게 함*/
}
#slide span {
    color: #0066ad; /*주조색*/
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 6px solid rgba(67, 155, 18, 0.1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);

    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}
/*div#slide*/


/*div#contents*/
div#contents {
    height: 200px;
    display: flex;
    justify-content: space-between;
}
#contents>div {
    width: 400px;
    padding: 10px;
}

    /*싱글탭 공통사항*/
div#contents>div.singleTab>button {
    font-size: 18px;
    font-weight: bold;
    padding: 4px 14px;
    border: 1px solid #aaa;
    border-bottom: none;
    position: relative;
    left: 40px;
    top: 1px;
}
#contents>.singleTab>div.tabContent {
    padding: 10px;
    border: 1px solid #aaa;
}
    /*싱글탭 공통사항*/
/*div#notice*/
#contents #notice #noticeTabBtn {
    background-color: #fff;
}
#contents #notice span {
    font-size: 14px;
    line-height: 28px;
    /*border: 1px solid #000;*/
    display: inline-block;
}
#contents #notice span.subject {
    width: 268px;
}
#contents #notice span.regDate {
    width: 80px;
    text-align: right;
}
/*div#notice*/

/*div#gallery*/
#contents #gallery #galleryTabContent {text-align: center;}
#contents #gallery #galleryTabBtn {
    border-bottom: 1px solid #aaa;
}
#contents #gallery img:hover {
    opacity: 0.6;
}
/*div#gallery*/

/*div#shortcut*/
#contents div#shortcut {
    text-align: center;
    padding-top: 20px;
}
/*div#contents*/


/*footer#footer*/
footer#footer {
    display: flex;
}
#footer {height: 100px;}
#footer>div#footerLeft {
    width: 840px;
    /*border: 1px solid #f00;*/
}
#footer>div#footerLeft>#footerGNB {
    height: 50px;
    text-align: center;
    /*border: 1px solid #000;*/
}
#footer>div#footerLeft>#footerGNB li {
    display: inline-block;
}
#footer>#footerGNB li a {
    padding: 4px 20px;
    display: inline-block;
}
#footer #footerGNB li:nth-child(2n) {
    /*2n=짝수째에만 해당한다는 뜻. 2n+1 / 2n-1 하면 홀수째. 수열.*/
    font-size: 12px;
    font-weight: bold;
    color: #0066ad;
}
#footer>div#footerLeft>div#copyright {
    height: 50px;
    text-align: center;
}
#footer>div#familysite {
    text-align: center;
    height: 50px;
    /*border: 1px solid #0f0;*/
    flex: 1; /*w200을 지정할 수도 있지만, 이렇게 지정하면 푸터래프트가 1000일 때 패밀리사이트는 알아서 200이 된다. 최종에서는 푸터래프트 840 적용함. 그러면 알아서 360. 알아서 수치조절이 됨. 가중치 기법.*/
}
#footer>div#familysite>select {
    font-size: 20px;
}
/*footer#footer*/


/*레이어 팝업*/
    /*div#contents*/
div#contents span.layerPopupPoint {cursor: pointer;}
    /*div#contents 다른 위치에 있음을 암시*/

   /*div#layerPopupBG*/
div#layerPopupBG {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    /*레이어 팝업은 배경이 완전 투명해야 함*/
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    /*이 layerPopupBG가 전체 맨 위를 덮어씌우고 있는 상태*/
}
#layerPopupBG>div#layerPopup {
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    border: 6px solid rgba(67, 155, 18, 0.1);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
div#layerPopupBG h1 {margin: 20px; text-align: center;}
div#layerPopupBG p {margin: 20px 0; line-height: 26px;}
div#layerPopupBG p  span {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 6px;
    display: inline-block;
}
div#layerPopupBG #btnArea {
    text-align: right;
    padding-right: 80px;
    margin-bottom: 10px;
}
div#layerPopupBG  button#closeBtn {
    font-size: 18px;
    font-weight: bold;
    padding: 4px 14px;
}
   /*div#layerPopupBG*/
/*레이어 팝업*/


/*IE, Chrome 동일 결과 적용
(구버전에서 인식 못 하는 새로운 시맨틱 요소들)*/
header, nav, footer {display: block;}
/*+section, article, option, main 등이 있다면 추가해야 함.*/
